<div class="main">
    <h2>Vehicles</h2>
    <p-progressBar *ngIf="isLoading" mode="indeterminate"></p-progressBar>
    <p-table [columns]="keys" [value]="vehicles" responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns ">

                    {{renameKey(col) | titlecase}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr (click)="navigateToVehicle(rowData['_id'])">
                <td *ngFor="let col of columns">
                    {{rowData[col]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p class="nothing" *ngIf="!vehicles && !isLoading">There is nothing to view</p>
</div>