.main {
    h2 {
      text-align: center;
      margin: 20px 0;
    }
    p-table {
      ::ng-deep {
        tr {
          th{
            font-weight: 500;
          }
          th,
          td {
            text-align: center;
            padding: 7px 0;
            font-size: 0.8rem;
            height: 40px;
            span {
              display: flex;
              justify-content: space-around;
            }
            .verified {
              background-color: rgb(45 243 61);
            }
            .unverified {
              background-color: rgb(241 79 79);
            }
            .boolean {
              width: fit-content;
              margin: 0 auto;
              padding: 4px 17px;
              color: white;
              font-weight: 600;
              font-size: 0.7rem;
              border-radius: 25px;
            }
          }
          td{
            cursor: pointer;
          }
        }
      }
    }
    
    .nothing {
      font-size: 0.8rem;
      color: gray;
      padding: 20px 0 20px 10px;
    }
  }