:host {
    .table {
        width: 100%;

        .header {
            padding: 10px;
            display: flex;
            justify-content: space-between;

            span {
                font-weight: 600;
            }
        }
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0 0 10px;
            button {
                padding: 4px 10px;
                font-size: 0.7rem;
                margin: 8px 5px;
            }
        }
    }
    .main {
        h2 {
            text-align: center;
            margin: 20px 0;
        }
        p-table {
            width: 100%;
            ::ng-deep {
                tr {
                    th {
                        font-weight: 500;
                    }
                    th,
                    td {
                        text-align: center;
                        padding: 7px 0;
                        font-size: 0.8rem;
                        height: 40px;

                        .status {
                            width: fit-content;
                            margin: 0 auto;
                            padding: 4px 17px;
                            font-weight: 600;
                            font-size: 0.7rem;
                            border-radius: 25px;
                        }
                        .accepted {
                            background: #a3ff47;
                        }
                        .rejected {
                            background: #ff0000;
                        }
                        .pending {
                            background: #ffff00;
                        }
                    }
                    td {
                        cursor: pointer;
                    }
                }
            }
        }

        .nothing {
            font-size: 0.8rem;
            color: gray;
            padding: 20px 0 20px 10px;
        }
    }
}
