<div class="main">
  <div class="application-header">
    <h2>{{ "vehicle_applications" | translate }}</h2>
    <button
      pButton
      type="button"
      (click)="navigateToAddVehicle()"
      label="{{ 'add_vehicle' | translate }}"
      class="p-button p-button-secondary custom-button"
    ></button>
  </div>
  <p-progressBar *ngIf="isLoading" mode="indeterminate"></p-progressBar>
  <p-table
    [columns]="keys"
    [value]="vehicleApplications"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          <p *ngIf="col != 'status_message'">{{ col | translate }}</p>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <p *ngIf="col != 'status'">{{ rowData[col] }}</p>
          <p
            [ngClass]="
              rowData['status'] == 'accepted'
                ? 'success'
                : rowData['status'] == 'reject'
                ? 'error'
                : 'warning'
            "
            class="status"
            *ngIf="col == 'status'"
          >
            {{ rowData[col] | titlecase }}
          </p>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p class="nothing" *ngIf="!vehicleApplications">There is nothing to view</p>
</div>
