<div class="main">
    <label>Company</label>
    <input type="text" [(ngModel)]="companyApplication.company.name" pInputText placeholder="Company Name">
    <input type="text" [(ngModel)]="companyApplication.company.short_name" pInputText placeholder="Company Short Name">
    <label>Company Admin</label>
    <input type="text" [(ngModel)]="companyApplication.admin.name" pInputText placeholder="Admin Name">
    <input type="text" [(ngModel)]="companyApplication.admin.surname" pInputText placeholder="Admin Surname">
    <input type="text" [(ngModel)]="companyApplication.admin.phone_number" pInputText placeholder="Admin Phone Number">
    <input type="text" [(ngModel)]="companyApplication.admin.email" pInputText placeholder="Admin E-mail">
    <input type="password" [(ngModel)]="companyApplication.admin.password" pInputText placeholder="Admin Password">
    <span (click)="navigateToSignin()" class="sign-in">Sign in</span>
    <button [disabled]="!companyApplication.company.name.length || !companyApplication.company.short_name.length || !companyApplication.admin.name.length || !companyApplication.admin.surname.length || !companyApplication.admin.phone_number.length || !companyApplication.admin.email.length" pButton (click)="signUp()" type="button" label="Sign Up" class="p-button-success"></button>
</div>