:host {
	.main {
		width: 30%;
		height: 30%;
		display: flex;
		margin: 40px auto;
		flex-direction: column;
		gap: 15px;

		.p-inputgroup {
			display: flex;
			input {
				width: 100%;
			}
			span {
				display: flex;
				justify-content: center;
			}
		}
		textarea {
			resize: vertical;
		}

		button {
			width: 100%;
		}
		.sign-in {
			text-align: right;
			text-decoration: underline;
			font-size: 0.9rem;
			color: cornflowerblue;
			cursor: pointer;
		}
	}
}
