<h2>{{"add_new_driver"|translate}}</h2>
<div class="main">
	<div class="driver-fields">
		<div class="field">
			<p-avatar icon="pi pi-user-plus"></p-avatar>
			<input [(ngModel)]="driverValue.profilePicture" (change)="imagePreview('profilePicture',$event)"
				class="file" type="file" accept="image/*">
			<small>{{"enter_profile_picture"|translate}}</small>
			<img *ngIf="driverValue.profilePicture" [src]="driverValue.profilePicture">
		</div>
		<div class="field">
			<label>{{"name"|translate}}</label>
			<input [(ngModel)]="driverValue.name" id="name" type="text" pInputText />
			<small>{{"enter_name"|translate}}</small>
		</div>
		<div class="field">
			<label>{{"surname"|translate}}</label>
			<input [(ngModel)]="driverValue.surname" id="surname" type="text" pInputText />
			<small>{{"enter_surname"|translate}}</small>
		</div>
		<div class="field">
			<label>{{"email"|translate}}</label>
			<input [(ngModel)]="driverValue.email" id="email" type="text" pInputText />
			<small>{{"enter_email"|translate}}</small>
		</div>
		<div class="field">
			<label>{{"mobile_number"|translate}}</label>
			<input [(ngModel)]="driverValue.mobile_number" id="mobile_number" type="text" pInputText />
			<small>{{"enter_mobile_number"|translate}}</small>
		</div>
		<div class="field">
			<label>{{"company"|translate}}</label>
			<input [(ngModel)]="driverValue.company_name" id="company" type="text" pInputText />
			<small>{{"enter_company"|translate}}</small>
		</div>
		<div class="field">
			<label> {{"id"|translate}}</label>
			<input [(ngModel)]="driverValue.id" id="id" type="text" pInputText />
			<small>{{"enter_id"|translate}}</small>
		</div>
		<div class="field">
			<label>{{"driver_license_number"|translate}}</label>
			<input [(ngModel)]="driverValue.driver_licence.licence_number" id="driver-license" type="text" pInputText />
			<small>{{"enter_driver_license_number"|translate}}</small>
		</div>
		<div class="field">
			<label>{{"driver_license_expiration"|translate}}</label>
			<p-calendar placeholder="00 / 00 / 0000" [(ngModel)]="driverValue.driver_licence.expiration"
				dateFormat="dd.mm.yy"></p-calendar>
		</div>
		<div class="field">
			<label>{{"taxi_license_number"|translate}}</label>
			<input [(ngModel)]="driverValue.taxi_licence.licence_number" id="taxi-license" type="text" pInputText />
			<small>{{"enter_taxi_license_number"|translate}}</small>
		</div>
		<div class="field">
			<label>{{"taxi_license_expiration"|translate}}</label>
			<p-calendar placeholder="00 / 00 / 0000" [(ngModel)]="driverValue.taxi_licence.expiration"
				dateFormat="dd.mm.yy"></p-calendar>
		</div>
	</div>
	<div class="image-fields">
		<div class="image-field">
			<input class="file" type="file" [(ngModel)]="driverValue.identityPic"
				(change)="imagePreview('identityPic',$event)" accept="image/*">
			<i class="pi pi-id-card"></i>
			<small>{{"enter_identity_picture"|translate}}</small>
			<img *ngIf="driverValue.identityPic" [src]="driverValue.identityPic">
		</div>
		<div class="image-field">
			<input [(ngModel)]="driverValue.drivingLicencePic" (change)="imagePreview('drivingLicensePic',$event)"
				class="file" type="file" accept="image/*">
			<i class="pi pi-car"></i>
			<small>{{"enter_driving_license_picture"|translate}}</small>
			<img *ngIf="driverValue.drivingLicencePic" [src]="driverValue.drivingLicencePic">
		</div>
		<div class="image-field">
			<input [(ngModel)]="driverValue.taxiLicencePicFront" (change)="imagePreview('taxiLicensePicFront',$event)"
				class="file" type="file" accept="image/*">
			<i class="pi pi-car"></i>
			<small>{{"enter_taxi_licence_picture_front"|translate}}</small>
			<img *ngIf="driverValue.taxiLicencePicFront" [src]="driverValue.taxiLicencePicFront">
		</div>
		<div class="image-field">
			<input [(ngModel)]="driverValue.taxiLicencePicBack" (change)="imagePreview('taxiLicensePicBack',$event)"
				class="file" type="file" accept="image/*">
			<i class="pi pi-car"></i>
			<small>{{"enter_taxi_licence_picture_back"|translate}}</small>
			<img *ngIf="driverValue.taxiLicencePicBack" [src]="driverValue.taxiLicencePicBack">
		</div>
	</div>
</div>
<p-confirmDialog acceptLabel="Ok" [rejectVisible]="false" [header]="header" [icon]="icon"></p-confirmDialog>
<button pButton type="button"
	[disabled]="!driverValue.taxiLicencePicBack.length || !driverValue.taxiLicencePicFront.length || !driverValue.drivingLicencePic.length|| !driverValue.identityPic.length || !driverValue.profilePicture.length || !driverValue.name.length || !driverValue.surname.length || !driverValue.id || !driverValue.driver_licence.licence_number.length || !driverValue.driver_licence.expiration || !driverValue.taxi_licence.licence_number || !driverValue.taxi_licence.expiration"
	(click)="addNewDriver()" [loading]="isLoading" label="{{'next'|translate}}" class="p-button-success"></button>