:host {
  .main {
    display: flex;
    .driver-fields {
      width: 40%;
      .field {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        position: relative;

        img {
          position: absolute;
          width: 8rem;
          height: 8rem;
          object-fit: cover;
        }
        p-calendar {
          ::ng-deep {
            span {
              width: 100%;
            }
          }
        }
        .file {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 8rem;
          height: 8rem;
          z-index: 99;
        }
        small {
          font-size: 0.7rem;
          color: gray;
          margin-top: 3px;
        }
        p-avatar {
          width: 8rem;
          height: 8rem;
          ::ng-deep {
            div {
              width: 100%;
              height: 100%;
              span {
                font-size: 2rem;
              }
            }
          }
        }
      }
      p-fileUpload {
        width: 40%;
      }
    }
    .image-fields {
      width: 40%;
      margin: 0 auto;
      .image-field {
        margin: 0 auto;
        width: 80%;
        height: 200px;
        background: #f6f6f6;
        border-radius: 20px;
        margin-top: 16px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        .file {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 99;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
        i {
          font-size: 2rem;
          color: lightslategray;
        }
        small {
          color: gray;
          font-weight: 600;
          font-size: 0.7rem;
        }
      }
    }
  }
  button {
    width: 100%;
    margin-top: 20px;
  }
}
