:host {
    .table {
        width: 100%;

        .header {
            padding: 10px;
            display: flex;
            justify-content: space-between;

            span {
                font-weight: 600;
            }
        }
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            button {
                padding: 4px 10px;
                font-size: 0.7rem;
                margin: 8px 5px;
            }
        }
    }
    .main {
        h2 {
            text-align: center;
            margin: 20px 0;
        }
        p-table {
            width: 100%;
            ::ng-deep {
                tr {
                    th {
                        font-weight: 500;
                    }
                    th,
                    td {
                        text-align: center;
                        padding: 7px 0;
                        font-size: 0.8rem;
                        height: 40px;
                        
                        // .online {
                        //   background-color: rgb(45 243 61);
                        // }
                        // .offline {
                        //   background-color: rgb(241 79 79);
                        // }
                    }
                    td {
                        cursor: pointer;
                    }
                }
            }
        }

        .nothing {
            font-size: 0.8rem;
            color: gray;
            padding: 20px 0 20px 10px;
        }
    }
}
