/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
app-dashboard,
app-my-profile,
app-drivers,
app-add-driver,
app-vehicles,
app-add-vehicle,
app-login,
app-vehicle-applications,
app-driver-applications,
app-driver-details,
app-vehicle-details,
app-driver-application-detail,
app-vehicle-application-detail,
app-map {
  width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
}
body .p-component {
  font-family: "Poppins", sans-serif;
}
.p-progressbar {
  height: 3px !important;
}
p-progressSpinner {
  position: absolute;
  left: 50%;
  top: 20%;
}
.leaflet-control-container {
  display: none;
}

div.main {
  > * {
    margin-bottom: 10px;
  }

  .application-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  }

  p-table {
    tr {
      th {
        font-weight: 500;
      }
      th,
      td {
        font-size: 0.9rem !important;
        height: 40px !important;
        .success {
          background-color: rgb(45 243 61);
        }
        .error {
          background-color: rgb(241 79 79);
        }
        .warn {
          background: #ffff00;
        }

        .status {
          width: fit-content;
          padding: 4px 17px;
          font-weight: 600;
          font-size: 0.7rem;
          border-radius: 25px;
        }

        .boolean {
          width: fit-content;
          padding: 4px 17px;
          color: white;
          font-weight: 600;
          font-size: 0.7rem;
          border-radius: 25px;
        }
      }
      td {
        cursor: pointer;
      }
    }
  }

  .nothing {
    font-size: 0.8rem;
    color: gray;
    padding: 20px 0 20px 10px;
  }
}

button.custom-button {
  padding: 4px 10px;
  font-size: 0.7rem;
}

.popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  width: 251px;
  height: 251px;

  .img-name {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    img {
      width: 60px;
      height: 60px;
      border: 2px solid #eaeaea;
      border-radius: 50%;
    }

    span {
      font-size: 1rem;
      font-weight: 600;
      margin-left: 5px;
    }
  }
  ion-label {
    div {
      display: flex;
      align-items: center;
      span {
        font-size: initial;
        font-weight: 600;
      }
      p{
        margin: 5px 0  5px 5px;
        font-size: 0.9rem;
        color: gray;
        
      }
    }
  }
}
